-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: tdc_enfermagem
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `equipa_tdc`
--

DROP TABLE IF EXISTS `equipa_tdc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `equipa_tdc` (
  `id_equipa` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) DEFAULT NULL,
  `funcao` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `telefone` varchar(20) DEFAULT NULL,
  `ativo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_equipa`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipa_tdc`
--

LOCK TABLES `equipa_tdc` WRITE;
/*!40000 ALTER TABLE `equipa_tdc` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipa_tdc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estado_atual_doente`
--

DROP TABLE IF EXISTS `estado_atual_doente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estado_atual_doente` (
  `id_estado` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `estado` varchar(100) DEFAULT NULL,
  `observacoes` text DEFAULT NULL,
  `data_atualizacao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_estado`),
  KEY `fk_estado_atual_doente_id_tdc` (`id_tdc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estado_atual_doente`
--

LOCK TABLES `estado_atual_doente` WRITE;
/*!40000 ALTER TABLE `estado_atual_doente` DISABLE KEYS */;
/*!40000 ALTER TABLE `estado_atual_doente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `farmacos_tdc`
--

DROP TABLE IF EXISTS `farmacos_tdc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `farmacos_tdc` (
  `id_farmaco` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) DEFAULT NULL,
  `apresentacao` varchar(255) DEFAULT NULL,
  `dose_usual` varchar(255) DEFAULT NULL,
  `via_administracao` varchar(100) DEFAULT NULL,
  `indicacoes` text DEFAULT NULL,
  `contraindicacoes` text DEFAULT NULL,
  `ativo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_farmaco`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farmacos_tdc`
--

LOCK TABLES `farmacos_tdc` WRITE;
/*!40000 ALTER TABLE `farmacos_tdc` DISABLE KEYS */;
/*!40000 ALTER TABLE `farmacos_tdc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intervencoes_tdc`
--

DROP TABLE IF EXISTS `intervencoes_tdc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `intervencoes_tdc` (
  `id_intervencao` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) DEFAULT NULL,
  `descricao` text DEFAULT NULL,
  `procedimento_operacio` text DEFAULT NULL,
  `indicacoes` text DEFAULT NULL,
  `ativo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_intervencao`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intervencoes_tdc`
--

LOCK TABLES `intervencoes_tdc` WRITE;
/*!40000 ALTER TABLE `intervencoes_tdc` DISABLE KEYS */;
/*!40000 ALTER TABLE `intervencoes_tdc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_airway`
--

DROP TABLE IF EXISTS `tdc_airway`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_airway` (
  `id_airway` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `va_patente` tinyint(1) DEFAULT NULL,
  `secrecoes` varchar(500) DEFAULT NULL,
  `adjuvante_va_tipo` varchar(100) DEFAULT NULL,
  `adjuvante_va_numero` varchar(50) DEFAULT NULL,
  `adjuvante_va_data` date DEFAULT NULL,
  `va_definitiva_tipo` varchar(100) DEFAULT NULL,
  `va_definitiva_numero` varchar(50) DEFAULT NULL,
  `va_definitiva_nivel` varchar(100) DEFAULT NULL,
  `va_definitiva_data` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_airway`),
  KEY `fk_tdc_airway_id_tdc` (`id_tdc`),
  KEY `idx_tdc_airway_id_tdc` (`id_tdc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_airway`
--

LOCK TABLES `tdc_airway` WRITE;
/*!40000 ALTER TABLE `tdc_airway` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_airway` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_circulation`
--

DROP TABLE IF EXISTS `tdc_circulation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_circulation` (
  `id_circ` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `dispositivo_la` tinyint(1) DEFAULT NULL,
  `la_local` varchar(100) DEFAULT NULL,
  `la_data` date DEFAULT NULL,
  `cvc` tinyint(1) DEFAULT NULL,
  `cvc_lumens` int(11) DEFAULT NULL,
  `cvc_local` varchar(100) DEFAULT NULL,
  `cvc_data` date DEFAULT NULL,
  `cvp_valor` decimal(5,2) DEFAULT NULL,
  `cvp_unidade` varchar(20) DEFAULT NULL,
  `cvp_locais` varchar(255) DEFAULT NULL,
  `hemorragia_ativa` tinyint(1) DEFAULT NULL,
  `suporte_transfusional` tinyint(1) DEFAULT NULL,
  `sonda_vesical` tinyint(1) DEFAULT NULL,
  `sonda_vesical_numero` varchar(50) DEFAULT NULL,
  `sonda_vesical_data` date DEFAULT NULL,
  `lavagem_vesical` tinyint(1) DEFAULT NULL,
  `lavagem_vesical_ml_h` decimal(5,2) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_circ`),
  KEY `fk_tdc_circulation_id_tdc` (`id_tdc`),
  KEY `idx_tdc_circulation_id_tdc` (`id_tdc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_circulation`
--

LOCK TABLES `tdc_circulation` WRITE;
/*!40000 ALTER TABLE `tdc_circulation` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_circulation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_exposure`
--

DROP TABLE IF EXISTS `tdc_exposure`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_exposure` (
  `id_exp` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `temperatura` decimal(5,2) DEFAULT NULL,
  `imobilizacao_cervical` tinyint(1) DEFAULT NULL,
  `fraturas` tinyint(1) DEFAULT NULL,
  `fraturas_locais` varchar(500) DEFAULT NULL,
  `feridas_pensos` tinyint(1) DEFAULT NULL,
  `feridas_pensos_local` varchar(255) DEFAULT NULL,
  `feridas_pensos_tratamento` varchar(500) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_exp`),
  KEY `fk_tdc_exposure_id_tdc` (`id_tdc`),
  KEY `idx_tdc_exposure_id_tdc` (`id_tdc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_exposure`
--

LOCK TABLES `tdc_exposure` WRITE;
/*!40000 ALTER TABLE `tdc_exposure` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_exposure` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_farmacos`
--

DROP TABLE IF EXISTS `tdc_farmacos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_farmacos` (
  `id_farmaco` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `farmaco` varchar(255) DEFAULT NULL,
  `hora_administracao` time DEFAULT NULL,
  `sequencia` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_farmaco`),
  KEY `fk_tdc_farmacos_id_tdc` (`id_tdc`),
  KEY `idx_tdc_farmacos_id_tdc` (`id_tdc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_farmacos`
--

LOCK TABLES `tdc_farmacos` WRITE;
/*!40000 ALTER TABLE `tdc_farmacos` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_farmacos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_intercurrencies`
--

DROP TABLE IF EXISTS `tdc_intercurrencies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_intercurrencies` (
  `id_intercorrencia` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `hora_evento` time DEFAULT NULL,
  `evento` text DEFAULT NULL,
  `intervencao_realizada` text DEFAULT NULL,
  `sequencia` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_intercorrencia`),
  KEY `fk_tdc_intercurrencies_id_tdc` (`id_tdc`),
  KEY `idx_tdc_intercurrencies_id_tdc` (`id_tdc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_intercurrencies`
--

LOCK TABLES `tdc_intercurrencies` WRITE;
/*!40000 ALTER TABLE `tdc_intercurrencies` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_intercurrencies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_monitoring`
--

DROP TABLE IF EXISTS `tdc_monitoring`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_monitoring` (
  `id_monitoring` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `hora_registo` time DEFAULT NULL,
  `ta_sistolica` int(11) DEFAULT NULL,
  `ta_diastolica` int(11) DEFAULT NULL,
  `fc` int(11) DEFAULT NULL,
  `spo2` int(11) DEFAULT NULL,
  `fr` int(11) DEFAULT NULL,
  `etco2` int(11) DEFAULT NULL,
  `momento` varchar(50) DEFAULT NULL,
  `sequencia` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_monitoring`),
  KEY `fk_tdc_monitoring_id_tdc` (`id_tdc`),
  KEY `idx_tdc_monitoring_id_tdc` (`id_tdc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_monitoring`
--

LOCK TABLES `tdc_monitoring` WRITE;
/*!40000 ALTER TABLE `tdc_monitoring` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_monitoring` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_neurological`
--

DROP TABLE IF EXISTS `tdc_neurological`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_neurological` (
  `id_neuro` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `ecg_pontos` int(11) DEFAULT NULL,
  `rass_pontos` int(11) DEFAULT NULL,
  `eva_pontos` int(11) DEFAULT NULL,
  `bps_pontos` int(11) DEFAULT NULL,
  `glicemia_capilar` decimal(5,2) DEFAULT NULL,
  `sng_presente` tinyint(1) DEFAULT NULL,
  `sng_nivel` varchar(100) DEFAULT NULL,
  `sng_data` date DEFAULT NULL,
  `sog_presente` tinyint(1) DEFAULT NULL,
  `sog_nivel` varchar(100) DEFAULT NULL,
  `sog_data` date DEFAULT NULL,
  `snj_presente` tinyint(1) DEFAULT NULL,
  `snj_nivel` varchar(100) DEFAULT NULL,
  `snj_data` date DEFAULT NULL,
  `esvaziamento_gastrico` varchar(500) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_neuro`),
  KEY `fk_tdc_neurological_id_tdc` (`id_tdc`),
  KEY `idx_tdc_neurological_id_tdc` (`id_tdc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_neurological`
--

LOCK TABLES `tdc_neurological` WRITE;
/*!40000 ALTER TABLE `tdc_neurological` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_neurological` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_perfusions`
--

DROP TABLE IF EXISTS `tdc_perfusions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_perfusions` (
  `id_perfusao` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `farmaco` varchar(255) DEFAULT NULL,
  `posologia` varchar(255) DEFAULT NULL,
  `hora_inicio` time DEFAULT NULL,
  `taxa_1` decimal(5,2) DEFAULT NULL,
  `taxa_2` decimal(5,2) DEFAULT NULL,
  `taxa_3` decimal(5,2) DEFAULT NULL,
  `taxa_4` decimal(5,2) DEFAULT NULL,
  `sequencia` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_perfusao`),
  KEY `fk_tdc_perfusions_id_tdc` (`id_tdc`),
  KEY `idx_tdc_perfusions_id_tdc` (`id_tdc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_perfusions`
--

LOCK TABLES `tdc_perfusions` WRITE;
/*!40000 ALTER TABLE `tdc_perfusions` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_perfusions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_records`
--

DROP TABLE IF EXISTS `tdc_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_records` (
  `id_tdc` int(11) NOT NULL AUTO_INCREMENT,
  `created_by` int(11) NOT NULL,
  `motivo_transporte` varchar(500) DEFAULT NULL,
  `servico_destino` varchar(255) DEFAULT NULL,
  `hora_ativacao` time DEFAULT NULL,
  `hora_saida_ulscb` time DEFAULT NULL,
  `hora_chegada_sd` time DEFAULT NULL,
  `hora_chegada_ulscb` time DEFAULT NULL,
  `antecedentes_pessoais` text DEFAULT NULL,
  `alergias` text DEFAULT NULL,
  `medicacao_relevante` text DEFAULT NULL,
  `ultima_refeicao` varchar(255) DEFAULT NULL,
  `score_tdc` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_tdc`),
  KEY `fk_tdc_records_created_by` (`created_by`),
  KEY `idx_tdc_records_created_by` (`created_by`),
  KEY `idx_tdc_records_created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_records`
--

LOCK TABLES `tdc_records` WRITE;
/*!40000 ALTER TABLE `tdc_records` DISABLE KEYS */;
INSERT INTO `tdc_records` VALUES (1,1,'Infarto Agudo do Mioc?rdio','Cardiologia HUSE','14:30:00','14:45:00','15:20:00',NULL,'Hipertens?o, Diabetes tipo 2','Penicilina','Metoprolol 50mg, Atorvastatina 20mg','13:00',8,'2025-12-27 12:19:29','2025-12-27 12:19:29');
/*!40000 ALTER TABLE `tdc_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_team`
--

DROP TABLE IF EXISTS `tdc_team`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_team` (
  `id_team` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `enfermeiro` varchar(255) DEFAULT NULL,
  `medico` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_team`),
  KEY `fk_tdc_team_id_tdc` (`id_tdc`),
  KEY `idx_tdc_team_id_tdc` (`id_tdc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_team`
--

LOCK TABLES `tdc_team` WRITE;
/*!40000 ALTER TABLE `tdc_team` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_team` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_ventilation`
--

DROP TABLE IF EXISTS `tdc_ventilation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_ventilation` (
  `id_vent` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `ventilacao_espontanea` tinyint(1) DEFAULT NULL,
  `o2_litros` decimal(5,2) DEFAULT NULL,
  `tipo_vent_suplementar` varchar(50) DEFAULT NULL,
  `vni_ipap` decimal(5,2) DEFAULT NULL,
  `vni_epap` decimal(5,2) DEFAULT NULL,
  `vni_fr` int(11) DEFAULT NULL,
  `vni_fio2` int(11) DEFAULT NULL,
  `vmi_tipo` varchar(50) DEFAULT NULL,
  `vmi_vc_pc_pa` decimal(5,2) DEFAULT NULL,
  `vmi_fio2` int(11) DEFAULT NULL,
  `vmi_peep` decimal(5,2) DEFAULT NULL,
  `vmi_fr` int(11) DEFAULT NULL,
  `drenagem_toracica` tinyint(1) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_vent`),
  KEY `fk_tdc_ventilation_id_tdc` (`id_tdc`),
  KEY `idx_tdc_ventilation_id_tdc` (`id_tdc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_ventilation`
--

LOCK TABLES `tdc_ventilation` WRITE;
/*!40000 ALTER TABLE `tdc_ventilation` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_ventilation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin@tdc.pt','$2y$10$N9qo8uLOickgx2ZMRZoMyeIjZAgcg7b3XeKeUxWdeS86E36P4/F.m','Administrador TDC','2025-12-27 12:01:41');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-27 12:33:45
