-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: tdc_enfermagem
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `equipa_tdc`
--

DROP TABLE IF EXISTS `equipa_tdc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `equipa_tdc` (
  `id_equipa` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `enfermeiro_nome` varchar(100) DEFAULT NULL,
  `enfermeiro_num_mec` varchar(20) DEFAULT NULL,
  `medico_nome` varchar(100) DEFAULT NULL,
  `medico_num_mec` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id_equipa`),
  KEY `id_tdc` (`id_tdc`),
  CONSTRAINT `equipa_tdc_ibfk_1` FOREIGN KEY (`id_tdc`) REFERENCES `transporte_doente_critico` (`id_tdc`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipa_tdc`
--

LOCK TABLES `equipa_tdc` WRITE;
/*!40000 ALTER TABLE `equipa_tdc` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipa_tdc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estado_atual_doente`
--

DROP TABLE IF EXISTS `estado_atual_doente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estado_atual_doente` (
  `id_estado` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `suporte_respiratorio` varchar(50) DEFAULT NULL,
  `ventilacao` varchar(50) DEFAULT NULL,
  `fio2` decimal(5,2) DEFAULT NULL,
  `o2_fio2` decimal(5,2) DEFAULT NULL,
  `suporte_cardiovascular` varchar(100) DEFAULT NULL,
  `vasopressores` tinyint(1) DEFAULT 0,
  `fluidos` tinyint(1) DEFAULT 0,
  `outros` text DEFAULT NULL,
  PRIMARY KEY (`id_estado`),
  KEY `id_tdc` (`id_tdc`),
  CONSTRAINT `estado_atual_doente_ibfk_1` FOREIGN KEY (`id_tdc`) REFERENCES `transporte_doente_critico` (`id_tdc`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estado_atual_doente`
--

LOCK TABLES `estado_atual_doente` WRITE;
/*!40000 ALTER TABLE `estado_atual_doente` DISABLE KEYS */;
/*!40000 ALTER TABLE `estado_atual_doente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `farmacos_tdc`
--

DROP TABLE IF EXISTS `farmacos_tdc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `farmacos_tdc` (
  `id_farmaco` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `nome_farmaco` varchar(100) DEFAULT NULL,
  `via` varchar(20) DEFAULT NULL,
  `dose` varchar(50) DEFAULT NULL,
  `ml_hora` decimal(6,2) DEFAULT NULL,
  `observacoes` text DEFAULT NULL,
  PRIMARY KEY (`id_farmaco`),
  KEY `id_tdc` (`id_tdc`),
  CONSTRAINT `farmacos_tdc_ibfk_1` FOREIGN KEY (`id_tdc`) REFERENCES `transporte_doente_critico` (`id_tdc`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farmacos_tdc`
--

LOCK TABLES `farmacos_tdc` WRITE;
/*!40000 ALTER TABLE `farmacos_tdc` DISABLE KEYS */;
/*!40000 ALTER TABLE `farmacos_tdc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intercorrencias`
--

DROP TABLE IF EXISTS `intercorrencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `intercorrencias` (
  `id_intercorrencia` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `descricao` text DEFAULT NULL,
  PRIMARY KEY (`id_intercorrencia`),
  KEY `id_tdc` (`id_tdc`),
  CONSTRAINT `intercorrencias_ibfk_1` FOREIGN KEY (`id_tdc`) REFERENCES `transporte_doente_critico` (`id_tdc`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intercorrencias`
--

LOCK TABLES `intercorrencias` WRITE;
/*!40000 ALTER TABLE `intercorrencias` DISABLE KEYS */;
/*!40000 ALTER TABLE `intercorrencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intervencoes_tdc`
--

DROP TABLE IF EXISTS `intervencoes_tdc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `intervencoes_tdc` (
  `id_intervencao` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `via_aerea_desobstrucao` tinyint(1) DEFAULT 0,
  `aspiracao` tinyint(1) DEFAULT 0,
  `aspiracao_tipo` varchar(50) DEFAULT NULL,
  `guedell` tinyint(1) DEFAULT 0,
  `guedell_numero` varchar(10) DEFAULT NULL,
  `ventilacao_tipo` varchar(50) DEFAULT NULL,
  `o2_litros` decimal(5,2) DEFAULT NULL,
  `vni` tinyint(1) DEFAULT 0,
  `tet` tinyint(1) DEFAULT 0,
  `tet_numero` varchar(10) DEFAULT NULL,
  `vi` tinyint(1) DEFAULT 0,
  `fio2` decimal(5,2) DEFAULT NULL,
  `acessos_tipo` varchar(20) DEFAULT NULL,
  `calibre` varchar(10) DEFAULT NULL,
  `local_acesso` varchar(100) DEFAULT NULL,
  `compressao_cardiaca` tinyint(1) DEFAULT 0,
  `desfibrilhacao` tinyint(1) DEFAULT 0,
  `sav` tinyint(1) DEFAULT 0,
  `sav_ciclos` int(11) DEFAULT NULL,
  `pacing` tinyint(1) DEFAULT 0,
  `pacing_intensidade` varchar(20) DEFAULT NULL,
  `algaliacao` tinyint(1) DEFAULT 0,
  `calibre_algalia` varchar(10) DEFAULT NULL,
  `ch` tinyint(1) DEFAULT 0,
  `numero_vias` int(11) DEFAULT NULL,
  `imobilizacao` tinyint(1) DEFAULT 0,
  `local_imobilizacao` varchar(100) DEFAULT NULL,
  `outras_atitudes` text DEFAULT NULL,
  PRIMARY KEY (`id_intervencao`),
  KEY `id_tdc` (`id_tdc`),
  CONSTRAINT `intervencoes_tdc_ibfk_1` FOREIGN KEY (`id_tdc`) REFERENCES `transporte_doente_critico` (`id_tdc`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intervencoes_tdc`
--

LOCK TABLES `intervencoes_tdc` WRITE;
/*!40000 ALTER TABLE `intervencoes_tdc` DISABLE KEYS */;
/*!40000 ALTER TABLE `intervencoes_tdc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `monitorizacao`
--

DROP TABLE IF EXISTS `monitorizacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `monitorizacao` (
  `id_monitorizacao` int(11) NOT NULL AUTO_INCREMENT,
  `id_tdc` int(11) NOT NULL,
  `hora` time DEFAULT NULL,
  `pa` varchar(20) DEFAULT NULL,
  `fc` int(11) DEFAULT NULL,
  `fr` int(11) DEFAULT NULL,
  `spo2` int(11) DEFAULT NULL,
  `etco2` int(11) DEFAULT NULL,
  `dor` int(11) DEFAULT NULL,
  `temperatura` decimal(4,1) DEFAULT NULL,
  `gcs_rass` varchar(10) DEFAULT NULL,
  `observacoes` text DEFAULT NULL,
  PRIMARY KEY (`id_monitorizacao`),
  KEY `id_tdc` (`id_tdc`),
  CONSTRAINT `monitorizacao_ibfk_1` FOREIGN KEY (`id_tdc`) REFERENCES `transporte_doente_critico` (`id_tdc`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `monitorizacao`
--

LOCK TABLES `monitorizacao` WRITE;
/*!40000 ALTER TABLE `monitorizacao` DISABLE KEYS */;
/*!40000 ALTER TABLE `monitorizacao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_airway`
--

DROP TABLE IF EXISTS `tdc_airway`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_airway` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tdc_id` int(11) NOT NULL,
  `desobstrucao_va` tinyint(1) DEFAULT 0,
  `aspiracao_orofaringe` tinyint(1) DEFAULT 0,
  `aspiracao_oro_naso` tinyint(1) DEFAULT 0,
  `guedell` tinyint(1) DEFAULT 0,
  `guedell_numero` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tdc_id` (`tdc_id`),
  CONSTRAINT `tdc_airway_ibfk_1` FOREIGN KEY (`tdc_id`) REFERENCES `tdc_records` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_airway`
--

LOCK TABLES `tdc_airway` WRITE;
/*!40000 ALTER TABLE `tdc_airway` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_airway` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_cardiovascular_support`
--

DROP TABLE IF EXISTS `tdc_cardiovascular_support`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_cardiovascular_support` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tdc_id` int(11) NOT NULL,
  `pacing` tinyint(1) DEFAULT 0,
  `vasopressores` tinyint(1) DEFAULT 0,
  `fluidos` tinyint(1) DEFAULT 0,
  `outros` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tdc_id` (`tdc_id`),
  CONSTRAINT `tdc_cardiovascular_support_ibfk_1` FOREIGN KEY (`tdc_id`) REFERENCES `tdc_records` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_cardiovascular_support`
--

LOCK TABLES `tdc_cardiovascular_support` WRITE;
/*!40000 ALTER TABLE `tdc_cardiovascular_support` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_cardiovascular_support` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_circulation`
--

DROP TABLE IF EXISTS `tdc_circulation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_circulation` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tdc_id` int(11) NOT NULL,
  `acesso_central` tinyint(1) DEFAULT 0,
  `acesso_periferico` tinyint(1) DEFAULT 0,
  `calibre` varchar(50) DEFAULT NULL,
  `locais` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tdc_id` (`tdc_id`),
  CONSTRAINT `tdc_circulation_ibfk_1` FOREIGN KEY (`tdc_id`) REFERENCES `tdc_records` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_circulation`
--

LOCK TABLES `tdc_circulation` WRITE;
/*!40000 ALTER TABLE `tdc_circulation` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_circulation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_intercurrencies`
--

DROP TABLE IF EXISTS `tdc_intercurrencies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_intercurrencies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tdc_id` int(11) NOT NULL,
  `descricao` longtext DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tdc_id` (`tdc_id`),
  CONSTRAINT `tdc_intercurrencies_ibfk_1` FOREIGN KEY (`tdc_id`) REFERENCES `tdc_records` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_intercurrencies`
--

LOCK TABLES `tdc_intercurrencies` WRITE;
/*!40000 ALTER TABLE `tdc_intercurrencies` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_intercurrencies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_interventions`
--

DROP TABLE IF EXISTS `tdc_interventions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_interventions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tdc_id` int(11) NOT NULL,
  `compressoes_cardiacas` tinyint(1) DEFAULT 0,
  `desfibrilhacao` tinyint(1) DEFAULT 0,
  `sav` tinyint(1) DEFAULT 0,
  `num_ciclos_sav` int(11) DEFAULT NULL,
  `pacing` tinyint(1) DEFAULT 0,
  `intensidade_pacing` varchar(50) DEFAULT NULL,
  `eng` tinyint(1) DEFAULT 0,
  `calibre_eng` varchar(50) DEFAULT NULL,
  `num_vias_eng` int(11) DEFAULT NULL,
  `lavagem_gastrica` tinyint(1) DEFAULT 0,
  `algaliacao` tinyint(1) DEFAULT 0,
  `calibre_algaliacao` varchar(50) DEFAULT NULL,
  `num_vias_algaliacao` int(11) DEFAULT NULL,
  `imobilizacao` tinyint(1) DEFAULT 0,
  `locais_imobilizacao` varchar(255) DEFAULT NULL,
  `outras_atitudes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tdc_id` (`tdc_id`),
  CONSTRAINT `tdc_interventions_ibfk_1` FOREIGN KEY (`tdc_id`) REFERENCES `tdc_records` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_interventions`
--

LOCK TABLES `tdc_interventions` WRITE;
/*!40000 ALTER TABLE `tdc_interventions` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_interventions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_records`
--

DROP TABLE IF EXISTS `tdc_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_records` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ficha_numero` varchar(50) DEFAULT NULL,
  `data_ficha` date DEFAULT NULL,
  `servico` varchar(100) DEFAULT NULL,
  `medico_servico` varchar(100) DEFAULT NULL,
  `hora_contacto` time DEFAULT NULL,
  `hora_ulscb` time DEFAULT NULL,
  `hora_inicio_tdc` time DEFAULT NULL,
  `hora_fim` time DEFAULT NULL,
  `hora_chegada_ulscb` time DEFAULT NULL,
  `destino` varchar(255) DEFAULT NULL,
  `medico_destino` varchar(100) DEFAULT NULL,
  `score_tdc` int(11) DEFAULT NULL,
  `gcs` int(11) DEFAULT NULL,
  `diagnostico` text DEFAULT NULL,
  `notas_enfermagem` longtext DEFAULT NULL,
  `tem_historia_clinica` tinyint(1) DEFAULT 0,
  `tem_gsa` tinyint(1) DEFAULT 0,
  `tem_analises` tinyint(1) DEFAULT 0,
  `tem_mcdts` tinyint(1) DEFAULT 0,
  `mcdts_quais` text DEFAULT NULL,
  `created_by` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `tdc_records_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_records`
--

LOCK TABLES `tdc_records` WRITE;
/*!40000 ALTER TABLE `tdc_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_respiratory_support`
--

DROP TABLE IF EXISTS `tdc_respiratory_support`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_respiratory_support` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tdc_id` int(11) NOT NULL,
  `on_present` tinyint(1) DEFAULT 0,
  `mv` tinyint(1) DEFAULT 0,
  `mac` tinyint(1) DEFAULT 0,
  `alto_fluxo` tinyint(1) DEFAULT 0,
  `vnti` tinyint(1) DEFAULT 0,
  `tet_o2` tinyint(1) DEFAULT 0,
  `vi` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `tdc_id` (`tdc_id`),
  CONSTRAINT `tdc_respiratory_support_ibfk_1` FOREIGN KEY (`tdc_id`) REFERENCES `tdc_records` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_respiratory_support`
--

LOCK TABLES `tdc_respiratory_support` WRITE;
/*!40000 ALTER TABLE `tdc_respiratory_support` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_respiratory_support` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_team`
--

DROP TABLE IF EXISTS `tdc_team`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_team` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tdc_id` int(11) NOT NULL,
  `enfermeiro_nome` varchar(100) DEFAULT NULL,
  `enfermeiro_mecanografico` varchar(50) DEFAULT NULL,
  `medico_nome` varchar(100) DEFAULT NULL,
  `medico_mecanografico` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tdc_id` (`tdc_id`),
  CONSTRAINT `tdc_team_ibfk_1` FOREIGN KEY (`tdc_id`) REFERENCES `tdc_records` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_team`
--

LOCK TABLES `tdc_team` WRITE;
/*!40000 ALTER TABLE `tdc_team` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_team` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tdc_ventilation`
--

DROP TABLE IF EXISTS `tdc_ventilation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tdc_ventilation` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tdc_id` int(11) NOT NULL,
  `on_present` tinyint(1) DEFAULT 0,
  `mv` tinyint(1) DEFAULT 0,
  `mac` tinyint(1) DEFAULT 0,
  `alto_fluxo` tinyint(1) DEFAULT 0,
  `fio2_value` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tdc_id` (`tdc_id`),
  CONSTRAINT `tdc_ventilation_ibfk_1` FOREIGN KEY (`tdc_id`) REFERENCES `tdc_records` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tdc_ventilation`
--

LOCK TABLES `tdc_ventilation` WRITE;
/*!40000 ALTER TABLE `tdc_ventilation` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdc_ventilation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transporte_doente_critico`
--

DROP TABLE IF EXISTS `transporte_doente_critico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transporte_doente_critico` (
  `id_tdc` int(11) NOT NULL AUTO_INCREMENT,
  `created_by` int(11) DEFAULT NULL,
  `ficha_numero` varchar(20) DEFAULT NULL,
  `data` date DEFAULT NULL,
  `servico` varchar(100) DEFAULT NULL,
  `medico_responsavel` varchar(100) DEFAULT NULL,
  `hora_contacto` time DEFAULT NULL,
  `hora_ulscb` time DEFAULT NULL,
  `hora_inicio_tdc` time DEFAULT NULL,
  `hora_fim` time DEFAULT NULL,
  `hora_chegada_ulscb` time DEFAULT NULL,
  `destino` varchar(150) DEFAULT NULL,
  `medico_destino` varchar(100) DEFAULT NULL,
  `score_tdc` int(11) DEFAULT NULL,
  `gcs` int(11) DEFAULT NULL,
  `diagnostico` text DEFAULT NULL,
  `notas_enfermagem` tinyint(1) DEFAULT 0,
  `historia_clinica` tinyint(1) DEFAULT 0,
  `gsa` tinyint(1) DEFAULT 0,
  `analises` tinyint(1) DEFAULT 0,
  `mcdts` tinyint(1) DEFAULT 0,
  `mcdts_quais` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_tdc`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `transporte_doente_critico_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transporte_doente_critico`
--

LOCK TABLES `transporte_doente_critico` WRITE;
/*!40000 ALTER TABLE `transporte_doente_critico` DISABLE KEYS */;
/*!40000 ALTER TABLE `transporte_doente_critico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('nurse','doctor','admin') DEFAULT 'nurse',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-27 12:00:49
